#log{

	margin-top: 20vh;
	height: 60vh;
	align-items: center;
	border-radius: 100px;
	background: #3AA5FE;
	box-shadow: 10px 5px 5px #000000;
	color: #ffffff;
	z-index: 2;

}





#registro{

	margin-top: 20vh;
	height: 60vh;
	align-items: center;
	border-radius: 100px;
	background: #3afe5b;
	box-shadow: 10px 5px 5px #000000;
	color: #ffffff;
	z-index: 3;

}





#contenidoBoton{
	padding-top: 5vh;
}
div a{
	color: #ffffff;
	font-weight: 200;

}

body{
	

	
	height: 100vh;
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/1200px-Image_created_with_a_mobile_phone.png);
	
	
	background-size: cover;
	
}
#letras{
	font-size:5em;
}

#log #boton{

	
	border-radius: 5px;
	background-color: #FF5F66;

	width: 60%;
	color: #ffffff;



}
#fondo{

	
}
#log #boton:hover{

	
	background-color: #FF8B09;
	
	
	font-size: 1.2em;

transition: 500ms;
}

#panel{
	height: 100vh;
	position: absolute;
	display: flex;
	left: -18vw;
	z-index: 2;
	background: white;
	width: 25vw;

}

#boto{
	 	
	
	content: "";
      position: absolute;
      top: 0;
      left: 100px;
      width: 0;
      height: 0;
      border-width: 25px;
      border-style: solid;
      border-color:  transparent transparent transparent red;
}

td{
	border: 2px solid #000;
	text-align: center;
	justify-content: center;
	border-radius: 5px;



}
table{
	width: 100%;

	border-collapse: separate;
	
}

#tabla{
	justify-content: center;
}
